h1, h2 {
    text-align: center;
}

h1 {
    font-size: 3em;
    padding: 20px;
}

h2 {
    font-size: 1em;
    padding: 2px;
    color: steelblue;
    border-bottom: 1px solid steelblue;
    max-width: 600px;
    margin: 0 auto;
}

p {
    text-align: left;
    padding: 5px 400px;
}

.list {
    padding: 0px 20px;
}

#italics {
    padding: 20px 0px 0px 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin: 0 auto;
}